<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<footer id="pageFooter">
    <section id="quickLinks">
        <h1>Quick Nav</h1>
        <ul id="quickNav">
            <li><a href="/" title="Our home page">Home</a></li>
            <li><a href="mission.htm" title="What we think">Mission</a></li>
            <li><a href="resources.htm" title="Guidance and planning">Resources</a></li>
            <li><a href="contact.htm" title="Contact and support">Contact</a></li>
        </ul>
    </section>
    <section id="footerResources">
        <h1>Resources</h1>
        <ul id="quickNav">
            <li><a href="resources/faq.htm" title="Our home page">FAQ</a></li>
            <li><a href="support.htm" title="Need help?">Support</a></li>
            <li><a href="login.htm">Login</a></li>
        </ul>
    </section>
    <section id="companyInfo">
        <h1>markcox.net</h1>
        
        
        <p>818.324.0446</p>
    </section>
</footer>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
