<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<header id="mainHeader">
    <a href="/" title="home" class="logo">
        <!-- I need this div because IE is an affront to mankind-->
        <div>
            <h1>Explore California</h1>
        </div>
    </a>
    <nav id="siteNav">
        <h1>Where do you want to go?</h1>
        <ul>
            <li><a href="mission.htm" title="What we believe">Mission <br /><span class="tagline">what makes us different</span></a></li>
            <li>
                <a href="resources.htm" title="planning resources">Resources <br /><span class="tagline">what is possible</span></a>
                <ul>
                    <li><a href="resources/faq.htm" title="Got questions?">faqs</a></li>
                </ul>
            </li>
            <li>
                <a href="explorers.htm" title="Our community">Explorers <br /><span class="tagline">join our community</span></a>
                <ul>
                    <li><a href="explorers/join.htm" title="join our community">Join the Explorers</a></li>
                    <li><a href="@Url.Action(" Index", "Blog" )" title="read our blog!">Read our Blog</a></li>
                </ul>
            </li>
            <li>
                <a href="contact.htm" title="contact us" class="last">Contact <br /><span class="tagline">we're listening</span></a>
                <ul>
                    <li><a href="support.htm" title="need help?">Support</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
